@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 220.47 98.26% 36.08%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 92.99% 56.11%;
    --destructive-foreground: 210 40% 98%;
    --ring: 220.67 97.83% 36.08%;
    --chart-1: 220.47 98.26% 36.08%;
    --chart-2: 210 40% 96.1%;
    --chart-3: 210 40% 96.1%;
    --chart-4: 210 40% 99.1%;
    --chart-5: 220.47 101.26% 36.08%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 13.73% 10%;
    --foreground: 229.76 31.78% 74.71%;
    --muted: 232.5 15.44% 18.32%;
    --muted-foreground: 233.79 11.37% 50%;
    --popover: 234.55 17.46% 12.35%;
    --popover-foreground: 234 12.4% 52.55%;
    --card: 234.55 17.46% 12.35%;
    --card-foreground: 229.76 31.78% 74.71%;
    --border: 232.5 15.38% 30.59%;
    --input: 232 20% 14.71%;
    --primary: 225.45 71.22% 72.75%;
    --primary-foreground: 234.55 17.46% 12.35%;
    --secondary: 0 0% 82.75%;
    --secondary-foreground: 0 0% 20%;
    --accent: 227.73 48.05% 48.58%;
    --accent-foreground: 210 40% 98%;
    --destructive: 1.58 47.5% 52.94%;
    --destructive-foreground: 210 40% 98.04%;
    --ring: 225.45 71.22% 72.75%;
    --chart-1: 225.45 71.22% 72.75%;
    --chart-2: 0 0% 82.75%;
    --chart-3: 227.73 48.05% 48.58%;
    --chart-4: 0 0% 85.75%;
    --chart-5: 225.45 74.22% 72.75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.maplibregl-map {
  --ml-ctrl-border-radius: 1rem;
  --ml-font: 16px/24px system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ml-font-attribution: inherit;
  --ml-c-bg-1: 255 255 255;
  --ml-c-bg-2: 240 240 240;
  --ml-c-bg-3: 215 215 215;
  --ml-c-icon-1: 51 51 51;
  --ml-c-icon-2: 0 0 0;
  --ml-c-active: 29 161 242;
  --ml-c-error: 229 78 51;
  --ml-c-outline: 219 167 38;
  --ml-o-disabled: 0.25;
  --ml-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.15);
  --ml-shadow-active: 0 10px 15px -3px rgb(0 0 0 / 0.15),
    0 4px 6px -2px rgb(0 0 0 / 0.15);
  --ml-c-link-1: 51 51 51;
  --ml-c-link-2: 0 0 0;
  --ml-c-logo-1: 255 255 255;
  --ml-c-logo-2: 215 215 215;
  --ml-c-geoloc: 29 161 242;
  --ml-font-icons: maplibregl-icons-lucide;
}

.dark .maplibregl-map {
  --ml-c-bg-1: 17 23 37;
  --ml-c-bg-2: 65 72 83;
  --ml-c-bg-3: 50 54 63;
  --ml-c-icon-1: 203 213 225;
  --ml-c-icon-2: 255 255 255;
  --ml-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.15);
  --ml-c-link-1: 203 213 225;
  --ml-c-link-2: 255 255 255;
  --ml-c-logo-1: 17 23 37;
  --ml-c-logo-2: 50 54 63;
}
